{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Dashboard{% endblock %}</h3>
  {% if g.user %}
    <a class="action" href="{{ url_for('plant.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-4 ms-sm-auto col-lg-5 px-md-2">
    <img class="mb-4" src="{{ url_for('static', filename='img/Emojione_1F331.svg') }}" alt="" width="200" height="300">
    </div>
    <div class="col-md-4 ms-sm-auto col-lg-5 px-md-2">
        <h1>Humidity : 10 % </h1>
    </div>
posts :
    <!-- 'room_pourcent_humidity_air': 33.0,
        'status_moisture': 0.0, 'topic': 'stats/'},
        {'time': '2021-06-13T13:31:05.183513Z',
        'UUID': 1458415.0,
        'host': 'raspberrypi',
        'moisture_pourcent': 54.0,
        'room-temperature': 25.0,-->
    {{ posts['moisture_pourcent'] }}

    {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['moisture_pourcent'] }}</h1>

        </div>

      </header>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}